USE [master]
GO
/****** Объект:  Database [trashWB]    Дата создания скрипта: 28.04.2026 15:03:25 ******/ 
CREATE DATABASE [trashWB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'traskWB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\traskWB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'traskWB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\traskWB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [trashWB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [trashWB]
GO
/****** Объект:  Table [dbo].[items]    Дата создания скрипта: 28.04.2026 15:03:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[articul] [varchar](255) NOT NULL,
	[name_item] [nvarchar](255) NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[courier] [nvarchar](255) NULL,
	[author] [nvarchar](255) NOT NULL,
	[category] [nvarchar](255) NOT NULL,
	[discount] [int] NULL,
	[count] [int] NOT NULL,
	[about] [nvarchar](max) NULL,
	[photo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[orderInfo]    Дата создания скрипта: 28.04.2026 15:03:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderInfo](
	[id_order] [int] NOT NULL,
	[articul] [varchar](255) NOT NULL,
	[count] [int] NOT NULL,
 CONSTRAINT [PK_orderInfo] PRIMARY KEY CLUSTERED 
(
	[id_order] ASC,
	[articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[orders]    Дата создания скрипта: 28.04.2026 15:03:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_order] [date] NOT NULL,
	[date_delivery] [date] NOT NULL,
	[address] [int] NOT NULL,
	[surname] [nvarchar](255) NOT NULL,
	[f_name] [nvarchar](255) NOT NULL,
	[s_name] [nvarchar](255) NOT NULL,
	[code] [int] NOT NULL,
	[status] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[pvz]    Дата создания скрипта: 28.04.2026 15:03:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pvz](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[index] [int] NOT NULL,
	[city] [nvarchar](255) NOT NULL,
	[street] [nvarchar](255) NOT NULL,
	[house] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[users]    Дата создания скрипта: 28.04.2026 15:03:25 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [nvarchar](255) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[f_name] [nvarchar](50) NOT NULL,
	[s_name] [nvarchar](50) NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[orderInfo]  WITH CHECK ADD  CONSTRAINT [FK_orderInfo_items] FOREIGN KEY([articul])
REFERENCES [dbo].[items] ([articul])
GO
ALTER TABLE [dbo].[orderInfo] CHECK CONSTRAINT [FK_orderInfo_items]
GO
ALTER TABLE [dbo].[orderInfo]  WITH CHECK ADD  CONSTRAINT [FK_orderInfo_orders] FOREIGN KEY([id_order])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orderInfo] CHECK CONSTRAINT [FK_orderInfo_orders]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_pvz] FOREIGN KEY([address])
REFERENCES [dbo].[pvz] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_pvz]
GO
USE [master]
GO
