USE [master]
GO
/****** Объект:  Database [trashWB]    Дата создания скрипта: 28.04.2026 15:25:46 ******/ 
CREATE DATABASE [trashWB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'traskWB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\traskWB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'traskWB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\traskWB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [trashWB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [trashWB]
GO
/****** Объект:  Table [dbo].[items]    Дата создания скрипта: 28.04.2026 15:25:46 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[articul] [varchar](255) NOT NULL,
	[name_item] [nvarchar](255) NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[courier] [nvarchar](255) NULL,
	[author] [nvarchar](255) NOT NULL,
	[category] [nvarchar](255) NOT NULL,
	[discount] [int] NULL,
	[count] [int] NOT NULL,
	[about] [nvarchar](max) NULL,
	[photo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[orderInfo]    Дата создания скрипта: 28.04.2026 15:25:46 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderInfo](
	[id_order] [int] NOT NULL,
	[articul] [varchar](255) NOT NULL,
	[count] [int] NOT NULL,
 CONSTRAINT [PK_orderInfo] PRIMARY KEY CLUSTERED 
(
	[id_order] ASC,
	[articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[orders]    Дата создания скрипта: 28.04.2026 15:25:46 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_order] [date] NOT NULL,
	[date_delivery] [date] NOT NULL,
	[address] [int] NOT NULL,
	[surname] [nvarchar](255) NOT NULL,
	[f_name] [nvarchar](255) NOT NULL,
	[s_name] [nvarchar](255) NOT NULL,
	[code] [int] NOT NULL,
	[status] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[pvz]    Дата создания скрипта: 28.04.2026 15:25:46 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pvz](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[index] [int] NOT NULL,
	[city] [nvarchar](255) NOT NULL,
	[street] [nvarchar](255) NOT NULL,
	[house] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[users]    Дата создания скрипта: 28.04.2026 15:25:46 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [nvarchar](255) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[f_name] [nvarchar](50) NOT NULL,
	[s_name] [nvarchar](50) NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[items] ([articul], [name_item], [unit], [price], [courier], [author], [category], [discount], [count], [about], [photo]) VALUES (N'B320R5', N'Туфли', N'шт.', CAST(4300.00 AS Decimal(10, 2)), N'Kari', N'Rieker', N'Женская обувь', 2, 6, N'Туфли Rieker женские демисезонные, размер 41, цвет коричневый', N'9.jpg')
INSERT [dbo].[items] ([articul], [name_item], [unit], [price], [courier], [author], [category], [discount], [count], [about], [photo]) VALUES (N'B431R5', N'Ботинки', N'шт.', CAST(2700.00 AS Decimal(10, 2)), N'Обувь для вас', N'Rieker', N'Мужская обувь', 2, 5, N'Мужские кожаные ботинки/мужские ботинки', NULL)
INSERT [dbo].[items] ([articul], [name_item], [unit], [price], [courier], [author], [category], [discount], [count], [about], [photo]) VALUES (N'C436G5', N'Ботинки', N'шт.', CAST(10200.00 AS Decimal(10, 2)), N'Kari', N'Alessio Nesca', N'Женская обувь', 15, 9, N'Ботинки женские, ARGO, размер 40', NULL)
GO
INSERT [dbo].[orderInfo] ([id_order], [articul], [count]) VALUES (1, N'B320R5', 2)
INSERT [dbo].[orderInfo] ([id_order], [articul], [count]) VALUES (1, N'B431R5', 2)
INSERT [dbo].[orderInfo] ([id_order], [articul], [count]) VALUES (2, N'C436G5', 1)
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [date_order], [date_delivery], [address], [surname], [f_name], [s_name], [code], [status]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, N'Степанов', N'Михаил', N'Артёмович', 901, N'Завершен')
INSERT [dbo].[orders] ([id], [date_order], [date_delivery], [address], [surname], [f_name], [s_name], [code], [status]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, N'Никифорова', N'Весения', N'Николаевна', 902, N'Завершен')
INSERT [dbo].[orders] ([id], [date_order], [date_delivery], [address], [surname], [f_name], [s_name], [code], [status]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, N'Сазонов', N'Руслан', N'Германович', 903, N'Завершен')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[pvz] ON 

INSERT [dbo].[pvz] ([id], [index], [city], [street], [house]) VALUES (1, 420151, N' г. Лесной', N' ул. Вишневая', 32)
INSERT [dbo].[pvz] ([id], [index], [city], [street], [house]) VALUES (2, 125061, N' г. Лесной', N' ул. Подгорная', 8)
INSERT [dbo].[pvz] ([id], [index], [city], [street], [house]) VALUES (3, 630370, N' г. Лесной', N' ул. Шоссейная', 24)
SET IDENTITY_INSERT [dbo].[pvz] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [role], [surname], [f_name], [s_name], [login], [password]) VALUES (1, N'Администратор', N'Никифорова', N'Весения', N'Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[users] ([id], [role], [surname], [f_name], [s_name], [login], [password]) VALUES (2, N'Администратор', N'Сазонов', N'Руслан', N'Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[users] ([id], [role], [surname], [f_name], [s_name], [login], [password]) VALUES (3, N'Администратор', N'Одинцов', N'Серафим', N'Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[orderInfo]  WITH CHECK ADD  CONSTRAINT [FK_orderInfo_items] FOREIGN KEY([articul])
REFERENCES [dbo].[items] ([articul])
GO
ALTER TABLE [dbo].[orderInfo] CHECK CONSTRAINT [FK_orderInfo_items]
GO
ALTER TABLE [dbo].[orderInfo]  WITH CHECK ADD  CONSTRAINT [FK_orderInfo_orders] FOREIGN KEY([id_order])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orderInfo] CHECK CONSTRAINT [FK_orderInfo_orders]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_pvz] FOREIGN KEY([address])
REFERENCES [dbo].[pvz] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_pvz]
GO
USE [master]
GO
